---
import '../styles/global.css';
// import Navigation from '../components/Navigation.astro';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';


const myName = "Levitta";
const pageTitle = "Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		
	</head>

	<body>
		<section class="contents">
			<Header />
		<h1>Hi, I'm <em>{myName}</em></h1>
		<p>
			and im building my curiosity on making website using <b>Astro Framework</b
			>,
		</p>
		<p>it's been my third days when im writing this! #2025-09-05</p>
		<p>conclusion: slowly but surely its interesting haha.</p>
		</section>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
