---

---

<!-- <style>
  nav {
    display: flex;
    gap: 1rem;
    margin-inline: 0; /*kiri kanan*/
    justify-content: right;
  }
      nav > a {
				color: whitesmoke;
				padding-inline: 2rem;
				font-size: 1.5em;
			}
			nav > a:hover {
				background-color: black;
				text-decoration: overline;
				text-decoration-color: greenyellow;
				color: pink;
			}
</style> -->

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</div>
